*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    list-style-type: none;
    border: none;
    color: white;
    list-style-type: none;
}

body{
    background-image: url(../images/Background_1.jpg);
    background-size: 3000px;
    background-position: center;
}

.Logo{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: auto;
    margin-left: 0.4em;
    float: left;
}

h1{
    margin-top: -0.15em;
    margin-bottom: -0.3em;
    text-align: center;
}

nav{
    background-color: rgb(65,105,225);
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    font-weight: 600;
}

nav ul li{
    display: block;
    list-style-type: none;
    line-height: 60px;
    margin: 0 5px;
    padding: 0 5px;   
}

nav ul{
    margin-left: 8%;
    margin-right: 8%;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    font-size: large;
}

li:hover{
    background: rgb(255,140,0);
    cursor: pointer;
}

input{
    color: black;
}

.House{
    margin: 100px auto 0;
    text-align: left;
    background-color: 	rgb(65,105,225,0.9);
    width: 200px;
    padding: 0.5em 0.5em 1.2em 0.5em;
    color: white;
    box-shadow: 0em 0em 2em 0.25em black; 
}

.Title{
    width: 200px;
}

input, select, option{
    color: black;
}

.Address{
    margin: 40px auto 0;
    text-align: left;
    background-color: 	rgb(65,105,225,0.9);
    width: 200px;
    padding: 0.5em 0.5em 1.2em 0.5em;
    color: white;
    box-shadow: 0em 0em 2em 0.25em black; 
}

.Address input{
    width: 200px;
}

.Currencies{
    background-color:rgb(255,140,0);
    color:white;
    border: none;
    outline:none;
    font-size: large;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 0;
    /* NEED JAVASCRIPT TO DISPLAY CURRENCIES DROPDOWN MENU */
    display: none;
    font-weight: 600;
}

.Currencies option{
    color: white;
}

.Numbers{
    margin: 40px auto 0;
    text-align: left;
    background-color: 	rgb(65,105,225,0.9);
    width: 200px;
    padding: 0.5em 0.5em 1.2em 0.5em;
    color: white;
    box-shadow: 0em 0em 2em 0.25em black; 
    font-weight: 600;
}

.Numbers input{
    width: 120px;
    float: right;
}

.check{
    margin-top: 6px;
}

.Image_Selection{
    color: white;
}

.End_Date{
    margin-top: 2.5px;
    margin-bottom: 4px;
    border: 2px solid rgb(255,140,0);
    padding: 3px 2px;
    margin-left: -3px;
    margin-right: -3px;
}

.Submission{
    margin: 40px auto 40px;
    text-align: left;
    background-color: 	rgb(65,105,225,0.9);
    width: 200px;
    padding: 0.5em 0.5em 1.2em 0.5em;
    color: white;
    box-shadow: 0em 0em 2em 0.25em black; 
    color: white;
}

.Numbers h1{
    margin-bottom: 1px;
}

button{
    margin-top: 15px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    font-size: medium;
    background-color: 	rgb(255,140,0);
    padding: 5px;
}

button:hover{
    background-color: 	rgb(238, 131, 0);
}

p{
    text-align: center;
    color: rgb(255,140,0);
}

@media (max-width: 550px){
    li{
        font-size: smaller;
    }
}