*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    border: none;
    font-weight: 600;
}

body{
    padding-bottom: 20px;
}

.Logo{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: auto;
    margin-left: 0.4em;
    float: left;
}

.Filter_Icon{
    width: 2.5em;
    height: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 11px;
    margin-right: 11px;
    display: none;
}

.Filter_Icon:hover{
    cursor: pointer;
}

.Three_Lines{
    width: 1.7em;
    height: 1.7em;
    margin-left: 5px;
    display: none;
}

.Three_Lines:hover{
    cursor: pointer;
}

label{
    margin-top: auto;
    margin-bottom: auto;
}

.checkbox{
    display: none;
}

nav{
    background-color: rgb(65,105,225);
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
}

nav ul li{
    display: block;
    list-style-type: none;
    line-height: 60px;
    margin: 0 5px;
    padding: 0 5px;   
}

nav ul{
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    font-size: large;
}

li:hover{
    background: rgb(255,140,0);
    cursor: pointer;
}

.Host{
    background-color: rgb(255,140,0);
    padding: 0 5px;
    border-radius: 5px;
}

.Currencies{
    background-color:rgb(255,140,0);
    color:white;
    border: none;
    outline: none;
    font-size: large;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 0;
    /* NEED JAVASCRIPT TO DISPLAY CURRENCIES DROPDOWN MENU */
    display: none;
}

.Currencies option{
    color: white;
}

.Search_Box{
    color: black;
    padding: 3px;
    float: right;
    width: 50%;
    height: 55%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: large;
    font-weight: 500;
}

button{
    float: right;
    height: 65%;
    margin-right: 10px;
    padding: 3px;
    background: rgb(255,140,0);
    margin-top: auto;
    margin-bottom: auto;
    font-size: medium;
}

button:hover{
    background-color: rgb(238, 131, 0);
    cursor: pointer;
}

@media (max-width: 1300px){
    nav ul li{
        font-size: smaller;
    }
}

@media (max-width: 1170px){
    nav ul li{
        font-size: small;
    }
}

@media (max-width: 1080px){
    nav ul{
        position: fixed;
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        background-color: rgb(255,140,0);
        width: 100%;
        height: 35px;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    nav ul li{
        display: block;
        margin: auto 20px;
        line-height: 35px;
        font-size: medium;
    }

    li:hover{
        background: rgb(65,105,225);
        cursor: pointer;
    }

    .Host{
        background-color: rgb(65,105,225);
        padding: 0 5px;
        border-radius: 5px;
    }

    .Unordered_List{
        display: none;
    }

    #check:checked ~ .Unordered_List{
        display: flex;
    }

    #check:checked ~ .Currencies{
        margin-top: 100px;
    }

    .Filters{
        display: none;
    }

    .Filter_Icon{
        display: block;
    }

    .Three_Lines{
        display: block;
    }

    .Search_Box{
        width: 100%;
        margin-left: 20px;
    }
}